.events__list-item {
  margin: 1rem 0;
  border: 1.5px solid black;
  width: 20rem;
}

.events__list-item h2 {
  margin: 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.events__list-item-header {
  background: #fcba03;
  border-bottom: 1.5px solid black;
  padding: 0.5rem;
}

.events__list-item-header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Bangers', cursive;
  color: black;
}

.events__list-item-body {
  background: white;
  padding: 0.5rem;
}

.events__list-item-footer {
  text-align: right;
  border-top: 1.5px solid black;
  padding: 0.5rem;
}
