.events__list-item {
  border: 1.5px solid black;
  min-width: 18rem;
  max-width: 30rem;
  margin: 1rem;
}

.events__list-item-header {
  background: #fcba03;
  border-bottom: 1.5px solid black;
  padding: 0.5rem;
}

.events__list-item-header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Bangers', cursive;
  color: black;
}

.events__list-item-body {
  background: white;
  padding: 0.5rem;
}

.events__list-item-body h2 {
  margin: 0.25rem 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.events__list-item-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: white;
  border-top: 1.5px solid black;
  padding: 0.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
}

.events__list-item-footer p {
  margin: 0 auto;
}
