.bookings-control {
  text-align: center;
  padding: 0rem;
  margin: 0;
}

.bookings-control button {
  font: inherit;
  border: none;
  background: #d1d1d1;
  color: black;
  padding: 0.25rem 3rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  font-weight: bolder;
  border: 1px solid #d1d1d1;
}

.bookings-control button.active {
  color: black;
  background: #f2f2f2;
  font-weight: bolder;
  border: 1px solid transparent;
}

.bookings-control button:focus {
  outline: none;
}
