.modal {
  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border: 1.5px solid black;
  position: fixed;
  top: 20vh;
  left: 5%;
  z-index: 100;
}

.modal__header {
  padding: 1rem;
  background: #fcba03;
  border-bottom: 1.5px solid black;
}

.modal__header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Bangers', cursive;
  color: black;
}

.modal__header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Bangers', cursive;
  color: black;
}

.modal__content {
  padding: 1rem;
}

.modal__content h3 {
  margin: 0.25rem 0;
  font-size: 1rem;
}

.modal__content p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

@media (min-width: 768px) {
  .modal {
    width: 30rem;
    left: calc((100% - 30rem) / 2);
  }
}
