.event__list {
  max-width: 70%;
  min-width: 22rem;
  margin: 0rem auto 10rem auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #f2f2f2;
  border: 1px solid #d1d1d1;
  padding-top: 4rem;
}
