body {
  margin: 0;
  padding: 0;
  font-family: 'Gudea', sans-serif;
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 100%;
  display: block;
}

.form-control label {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control input {
  border: 1.5px solid black;
  padding: 0.5rem;
}

.form-actions button,
.btn {
  background: white;
  font: inherit;
  border: 1.5px solid black;
  border-radius: 100px;
  padding: 0.35rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  color: black;
  font-weight: bolder;
  cursor: pointer;
  margin: 0 0.5rem;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: #fcba03;
}
