.header {
  max-width: 40rem;
  min-width: 20rem;
  height: 12rem;
  margin: 5rem auto 0 auto;
  padding: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
  color: white;
  margin: 0.5rem 0;
}

.header h3 {
  font-size: 1.5rem;
  color: white;
  margin: 0;
  font-weight: normal;
  margin: 0.5rem 0;
}
